@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@800&display=swap');
@import './variables.scss';

#nav {
  width: 100%;
  filter: drop-shadow(0px 1px 3px (black / 80%));
}

.nav-link {
  padding: 0px 25px 0px 25px;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}
.nav-link:hover {
  background-color: rgba(0,0,0,0.1);
}