@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@800&display=swap');
@import './variables.scss';


// Font Style/Size Declarations
a {
  text-decoration: none;
  color: $icon-color;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}
h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

p {
  font-size: 18px;
}

// Component Styles

.dark-icon {
  color: $icon-color;
}

html {
  scroll-behavior: smooth;
  background-color: $background-color;
}
body {
  margin: 0px;
}


li {
  list-style: none;
  margin-bottom: 5px;
}

.seperator {
  border-bottom: 2px solid gray;
}





